/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

    .search_section .serarch_option .select_Blood_group {
        width: 100%;
    }

    .search_section .serarch_option .select_district {
        width: 90%;
    }

    .wrap{
        width: 60%;
        position: absolute;
        top: 66%;
        left: 45%;
        transform: translate(-50%, -50%);
    }
    .top_test{
        margin-left: -50px;
        height: 40px;
        width: 40px;
    }




}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {

    .search_section .serarch_option .select_Blood_group {
        width: 80%;
    }

    .search_section .serarch_option .select_district {
        width: 65%;
    }

    .wrap{
        width: 35%;
        position: absolute;
        top: 54%;
        left: 48%;
        transform: translate(-50%, -50%);
    }

    .top_test{
        margin-left: -50px;
        height: 40px;
        width: 40px;
    }

}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {

    .search_section .serarch_option .select_Blood_group {
        width: 100%;
    }

    .search_section .serarch_option .select_district {
        width: 90%;
    }

    .wrap{
        width: 60%;
        position: absolute;
        margin-top: 10px;
        left: 45%;
        transform: translate(-50%, -50%);
    }
    .top_test{
        margin-left: -50px;
        height: 40px;
        width: 40px;
    }

}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
    .search_section .serarch_option .select_Blood_group {
        width: 70%;
    }

    .search_section .serarch_option .select_district {
        width: 55%;
    }

    .wrap{
        width: 35%;
        position: absolute;
        top: 73%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
    .search_section .serarch_option .select_Blood_group {
        width: 70%;
    }

    .search_section .serarch_option .select_district {
        width: 55%;
    }

    .wrap{
        width: 35%;
        position: absolute;
        top: 73%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

    .search_section .serarch_option .select_Blood_group {
        width: 70%;
    }

    .search_section .serarch_option .select_district {
        width: 55%;
    }

    .wrap{
        width: 35%;
        position: absolute;
        top: 73%;
        left: 56%;
        transform: translate(-50%, -50%);
    }

}

@media only screen
and (min-device-width : 1025px)
and (max-device-width : 1223px)
and (orientation : portrait) {

    .search_section .serarch_option .select_Blood_group {
        width: 50%;
    }

    .search_section .serarch_option .select_district {
        width: 35%;
    }

    .wrap{
        width: 35%;
        position: absolute;
        top: 73%;
        left: 56%;
        transform: translate(-50%, -50%);
    }

}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
    .search_section .serarch_option .select_Blood_group {
        width: 50%;
    }

    #search_district {
        width: 40%;
    }

    .wrap {
        width: 25%;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
    .search_section .serarch_option .select_Blood_group {
        width: 50%;
    }

    #search_district {
        width: 40%;
    }

    .wrap {
        width: 15%;
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


}



/* iPhone 5 (portrait &amp; landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {

    .search_section .serarch_option .select_Blood_group {
        width: 100%;
    }

    .search_section .serarch_option .select_district {
        width: 90%;
    }

    .wrap{
        width: 60%;
        position: absolute;
        top: 66%;
        left: 45%;
        transform: translate(-50%, -50%);
    }
    .top_test{
        margin-left: -50px;
        height: 40px;
        width: 40px;
    }


}

/* iPhone 5 (landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {
    .search_section .serarch_option .select_Blood_group {
        width: 100%;
    }

    .search_section .serarch_option .select_district {
        width: 90%;
    }

    .wrap{
        width: 60%;
        position: absolute;
        top: 66%;
        left: 45%;
        transform: translate(-50%, -50%);
    }
    .top_test{
        margin-left: -50px;
        height: 40px;
        width: 40px;
    }


}




/* iPhone 5 (landscape)----------- */
@media only screen
and (min-device-width : 1025px)
and (max-device-width : 1223px)
and (orientation : landscape) {
    .search_section .serarch_option .select_Blood_group {
        width: 50%;
    }

    .search_section .serarch_option .select_district {
        width: 40%;
    }

    .wrap{
        width: 30%;
        position: absolute;
        top: 82%;
        left: 50%;
        transform: translate(-50%, -50%);
    }



}


/* iPhone 5 (landscape)----------- */
@media only screen
and (min-device-width : 1025px)
and (max-device-width : 1199px)
and (orientation : landscape) {
    .search_section .serarch_option .select_Blood_group {
        width: 50%;
    }

    .search_section .serarch_option .select_district {
        width: 40%;
    }

    .wrap {

        width: 23%;
        position: absolute;
        top: 67%;
        left: 49%;
        transform: translate(-50%, -50%);

    }


}
